{% extends "base.html" %}

{% block title %}About - Flask Tutorial{% endblock %}

{% block content %}
<div class="container">
    <h2>About This Project</h2>
    <p>This is a Flask deployment tutorial project designed to help you learn Flask web development.</p>
    
    <h3>What You'll Learn:</h3>
    <ul>
        <li>Setting up a Flask application</li>
        <li>Creating routes and templates</li>
        <li>Serving static files</li>
        <li>Deploying Flask applications</li>
    </ul>
    
    <h3>Technologies Used:</h3>
    <ul>
        <li>Python 3.11</li>
        <li>Flask 3.x</li>
        <li>Gunicorn (for production deployment)</li>
    </ul>
</div>
{% endblock %}
